/* ContactPage.css */
.contact {
   padding: 80px 20px; /* Top and bottom padding reduced on smaller screens */
   max-width: 1100px;
   margin: 0 auto;
}

.contact-content {
   display: flex;
   gap: 40px;
   margin-top: 10px;
   flex-wrap: wrap;
}

.contact-form form {
   display: flex;
   flex-direction: column;
   gap: 20px;
}

.contact-form label {
   margin-bottom: 5px;
   font-weight: bold;
   font-size: 1.1em;
}

.contact-form input,
.contact-form textarea {
   padding: 12px;
   border: 1px solid #ccc;
   border-radius: 5px;
   font-size: 16px;
   width: 100%;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   transition: border-color 0.3s ease;
}

.contact-form input:focus,
.contact-form textarea:focus {
   border-color: #007bff;
}

.contact-form button {
   padding: 12px 24px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   transition: background-color 0.3s ease, transform 0.2s ease;
}

.contact-form button:hover {
   background-color: #0056b3;
   transform: scale(1.05);
}

.contact-details {
   flex: 1;
}

.contact-details h2 {
   margin-bottom: 20px;
   font-size: 1.5em;
}

.contact-details p {
   margin-bottom: 20px;
   font-size: 1.1em;
}

.contact-details img {
   margin-top: 20px;
   width: 100%;
   border-radius: 5px;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
   .contact-content {
      flex-direction: column;
   }

   .contact-form,
   .contact-details {
      width: 100%;
      padding: 0;
   }

   .contact-form button,
   .contact-details img {
      max-width: 100%;
   }
}

@media (max-width: 480px) {
   .contact {
      padding: 60px 10px;
   }

   .contact-form label,
   .contact-details h2 {
      font-size: 1em;
   }

   .contact-form input,
   .contact-form textarea {
      font-size: 14px;
   }

   .contact-form button {
      padding: 10px 20px;
   }
}

@media (max-width: 600px) {
   .contact {
      padding: 50px 15px;
   }

   .contact-form label,
   .contact-details h2 {
      font-size: 0.9em;
   }

   .contact-form input,
   .contact-form textarea {
      font-size: 15px;
   }

   .contact-form button {
      padding: 10px 18px;
      font-size: 0.9em;
   }

   .contact-details p {
      font-size: 1em;
      margin-bottom: 15px;
   }
}
